/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    overflow-y: auto;
}

.grid {
    display: grid;
    gap: 200px;
}

.grid-two-col {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-col {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-col {
    grid-template-columns: repeat(4, 1fr);
}

header {
    color: #000;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    height: 80px;
}

.navbar-brand img {
    width: 100px;
}

.navbar .grid {
    display: grid;
    gap: 300px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account img {
    width: 40px;
    margin-right: 10px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 440px;
    margin-bottom: 20px;
    background-color: rgba(17, 236, 157, 0.16);
    border-radius: 0 0 400px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.hero-txt p {
    font-size: 45px;
    padding: 50px;
    width: 500px;
    line-height: 60px;
    margin-left: 150px;
}

.hero-txt span {
    color: #11EC4E;
    font-weight: bold;
}

.hero-btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #11EC4E;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 300px;
}

.hero-btn a:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.hero-img img {
    height: 450px;
    border-radius: 0 0 400px 0;
    margin-left: 245px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.about-1 {
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.about-2 {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.about-3 {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.about-txt {
    background-color: rgba(17, 236, 157, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 300px;
    width: 500px;
    line-height: 50px;
}

.about h2 {
    font-size: 30px;
}

.about-txt p {
    margin-bottom: 10px;
    font-size: 18px;
}

.about-btn1,
.about-btn2,
.about-btn3 {
    margin-top: 10px;
}

.about-btn1 a,
.about-btn2 a,
.about-btn3 a {
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    height: 40px;
    width: 180px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-btn1 a:hover,
.about-btn2 a:hover,
.about-btn3 a:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.about-img1 img {
    width: 500px;
    height: 300px;
    margin-top: 80px;
    margin-left: 80px;
}

.about-img2 img {
    width: 400px;
    height: 300px;
    margin-top: 40px;
    margin-left: 80px;
}

.about-img3 img {
    width: 400px;
    height: 300px;
    margin-top: 40px;
    margin-left: 140px;
}

.footer-section {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer .container {
    padding: 50px;
    gap: 200px;
}

.footer-about,
.footer-contact,
.footer-social {
    flex: 1;
}

.footer-about h3,
.footer-contact h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-about p,
.footer-contact p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-social a {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-social a:hover {
    color: #007bff;
}

hr {
    border-top: 1px solid #555;
    margin: 20px 0;
}

.text-center {
    text-align: center;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list ul li {
        display: block;
        margin: 10px 0;
    }

    .submenu {
        position: static;
        display: none;
    }
}
 */

button {
    border-radius: 20px;
    background-color: #47DED9;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    height: 600px;
}

.form-cont {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-cont {
    left: 0;
    width: 50%;
    z-index: 2;
}

.cont.right-panel-active .sign-in-cont {
    transform: translateX(100%);
}

.sign-up-cont {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.cont.right-panel-active .sign-up-cont {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}


.signup-img {
    height: 437;
    width: 377;
}

.signin-img {
    height: 437;
    width: 377;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-cont {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.cont.right-panel-active .overlay-cont {
    transform: translateX(-150%);
}

.cont.left-panel-active .overlay-cont {
    transform: translate(10%);
}


.overlay {
    background: #47DED9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.cont.right-panel-active .overlay {
    transform: translateX(50%);
}

.cont.left-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.cont.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.cont.right-panel-active .overlay-right {
    transform: translateX(20%);
}