* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(180, 228, 236);
}

.row {
    margin-top: 10%;
    background-color: white;


}

.leftgrid {
    background-color: aqua;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.signupimg {
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 20%;
    width: 200px;
}

.container1 {
    max-width: 800px;

}

.img-fluid {
    max-width: 70%;

}

.singinhead {
    display: flex;
    justify-content: center;

}

.btn1 {
    border-radius: 20px;
    border: 1px solid #9adff6;
    background-color: #72e4e2;
    color: #0e7279;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
}

.btn2 {
    border-radius: 20px;
    border: 1px solid #9adff6;
    background-color: #f2f5f5;
    color: #0e7279;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    display: flex;
    justify-content: center;
}

.divbtn2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

div.form {
    display: block;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: center;
}

.divbtn1 {
    display: flex;
    justify-content: center;
    margin-bottom: 135px;
}

.divanch {
    display: flex;
    justify-content: center;
}